<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status | RedBlood</title>

     <!-- link for fontawesome -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
    <!-- link for animate library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    
    <!-- link for google font -->
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/img/logo 1.png" type="image/x-icon">

    <!-- link for stylesheet -->
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="stylesheet" href="/CSS/finalstep.css">

</head>
<body onload="loading()">
    
    <div class="loading">
        <div class="txt">
            <p>Loading...</p>
        </div>
        <img src="/img/heartbeat.svg">
        <div class="wrapper"></div>
    </div>

    <header>
        <!-- navbar -->
        <nav id="navbar">
            <div class="logo">
                <img src="/img/logo 1.png">
                <p>REDBLOOD</p>
            </div>

            <div class="menu-wrap">
                <input type="checkbox" class="toggler">
                <div class="hamburger-logo"><hr><hr><hr></div>
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="/">HOME</a></li>
                                <li><a href="/donorlogin">DONATE BLOOD</a></li>
                                <li><a href="/donorlogin">REQUEST  FOR  BLOOD</a></li>
                                <li><a href="#">ABOUT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>    
            </div> 
        </nav>
    </header>

    <section class="inst">
        <div class="side-nav">
            <div class="profile">
                <img src='/uploadas/<%= User.img%>'>
                <p><%=User.username %></p>
            </div>
            <div class="instruction">
                <i class="fas fa-info-circle"></i>
                <p><a href='/<%= User.id%>/instruction'> Instruction</a></p>
            </div>
            <div class="org">
                <i class="fas fa-plus"></i>
                <p><a href='/<%= User.id%>/findorg'> Find Organization</a></p>
            </div>
            <div class="req">
                <i class="fas fa-tint"></i>
                <p><a href="#"> Request For Donate</a></p>
            </div>
            <div class="cong">
                <i class="fas fa-medal"></i>
                <p><a href='/<%= User.id%>/final'> Congratulation</a></p>
            </div>
            <div class="bottom">
                <div class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <p><a href="/logout"> Logout</a></p>
                </div>
                <div class="edit">
                    <i class="fas fa-edit"></i>
                    <p><a href='/<%= User.id%>/editprofile'> Edit Profile</a></p>
                </div>
            </div>
        </div>

        <!-- main section -->
        <div class="main-section">
            <div class="orgres">
                <%if(User.slot.length>0){%>
                   <% for(let i=0;i<User.slot.length;i++){%>
                        <div class="card">
                            <img src="/uploadas/<%= User.slot[i].orgimg%>">
                            <h3><%= User.slot[i].orgname %></h3>
                            <p>App-time : <%= User.slot[i].slottime%></p>
                            <p>App-date : <%= User.slot[i].slotdate%></p>
                            <p id="bl">Status : <%= User.slot[i].status%></p>
                            <button class="btn" type="submit"><a href='/<%= User.id%>/<%= User.slot[i].id%>/deleteslot'><i class="fas fa-hand-holding-water"></i> Cancel Request</a></button>
                        </div>
                    <%}%>
                <%}%>
            </div>

            <button class="btn"><a href='/<%= User.id%>/instruction'>Home</a></button>
        </div>
    </section>

    
    <script src="/JS/index.js"></script>

    </body>
</html>